In [2]:
import pandas as pd

In [3]:
Apr_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\Secondary\Apr_2022.csv',encoding = 'unicode_escape')
Dec_2021=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\Secondary\Dec-2021.csv',encoding = 'unicode_escape')
Feb_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Feb_2022.csv',encoding = 'unicode_escape')
Jan_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Jan_2022.csv',encoding = 'unicode_escape')
March_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\March_2022.csv',encoding = 'unicode_escape')
Nov_2021=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Nov_2021.csv',encoding = 'unicode_escape')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
Apr_2022

,REGION,STATE,OUTLET ID,OUTLET NAME,DATE,Invoice_ID,Bill_No,SKU CODE,SKU CODE.1,OUTLET CLASSIFICATION,...,Size_GMS,Qty_In_Kgs,Total_Qty,Discount,Scheme_Discount,MRP,Unitprice,Amount,Order_State,Sale_Type
0,GT-4,NER,7032923,A.C.T store,01-Apr-22,5.473120e+24,N700159212203060,34,FGFFS1251100G-010,GENERAL STORE,...,100.0,0.10,1,0,0.0000,34,25.5000,25.50,Secondary Sale,Secondary Sale
1,GT-4,WEST BENGAL,372276,sipahi shaw and sons,01-Apr-22,4.154130e+24,HF00043212205059,3233,FGFFS03211500G-002,GENERAL STORE,...,500.0,6.00,12,0,7.2695,155,96.5805,1158.97,Secondary Sale,Secondary Sale
2,GT-4,WEST BENGAL,372276,sipahi shaw and sons,01-Apr-22,4.154130e+24,HF00043212205059,3395,FGFFS03211050G-002,GENERAL STORE,...,50.0,3.00,60,0,0.7973,17,10.5927,635.56,Secondary Sale,Secondary Sale
3,GT-3,CENTRAL -UP-2,607748,Vinit Kirana,01-Apr-22,7.092500e+24,N400179212200861,13,FGFFS1211050G-009,GENERAL STORE,...,50.0,12.50,250,0,0.9375,25,17.8125,4453.13,Secondary Sale,Secondary Sale
4,GT-3,CENTRAL -UP-2,607748,Vinit Kirana,01-Apr-22,7.092500e+24,N400179212200861,34,FGFFS1251100G-010,GENERAL STORE,...,100.0,12.00,120,0,1.2750,34,24.2250,2907.00,Secondary Sale,Secondary Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830496,GT-2,BIHAR,569805,satish ji kirana,30-Apr-22,8.414400e+24,KL00016222300349,3368,FGFFS1471008G-011,GENERAL STORE,...,8.0,0.48,60,0,0.0000,5,3.5000,210.00,Secondary Sale,Secondary Sale
830497,GT-2,BIHAR,569805,satish ji kirana,30-Apr-22,8.414400e+24,KL00016222300349,3371,FGFFS1231008G-017,GENERAL STORE,...,8.0,0.48,60,0,0.0000,5,3.5000,210.00,Secondary Sale,Secondary Sale
830498,GT-2,BIHAR,569805,satish ji kirana,30-Apr-22,8.414400e+24,KL00016222300349,12208,FGFFS1537008G-002,GENERAL STORE,...,8.0,0.16,20,0,0.0000,10,7.0000,140.00,Secondary Sale,Secondary Sale
830499,GT-2,BIHAR,569805,satish ji kirana,30-Apr-22,8.414400e+24,KL00016222300349,12337,FGFFS1211100G-013,GENERAL STORE,...,100.0,0.50,5,0,0.0000,43,33.5400,167.70,Secondary Sale,Secondary Sale
830500,GT-2,BIHAR,569805,satish ji kirana,30-Apr-22,8.414400e+24,KL00016222300349,12339,FGFFS1211200G-016,GENERAL STORE,...,200.0,0.40,2,0,0.0000,85,66.3000,132.60,Secondary Sale,Secondary Sale

In [39]:
df_list=[Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022]
df_list=[df.groupby(['REGION','STATE'])['Amount'].sum() for df in df_list]
data1=pd.DataFrame(df_list).T

In [43]:
six_Amount=pd.DataFrame()
six_Amount['Nov_2021']=data1.iloc[:,0:1]
six_Amount['Dec_2021']=data1.iloc[:,1:2]
six_Amount['Jan_2022']=data1.iloc[:,2:3]
six_Amount['Feb_2022']=data1.iloc[:,3:4]
six_Amount['March_2022']=data1.iloc[:,4:5]
six_Amount['Apr_2022']=data1.iloc[:,5:6]

In [48]:
six_Amount

                            Nov_2021     Dec_2021     Jan_2022     Feb_2022  \
REGION STATE
GT-1   CHANDIGARH        13436424.16  12147571.67   8161110.55  10394036.15
       HARYANA           41529929.47  43913667.33  35799890.71  37148618.90
       HIMACHAL PRADESH  17463588.52  19399218.34  17429812.68  16810186.09
       JAMMU & KASHMIR   16802788.17  16958170.00  12779889.67  14920748.75
       PUNJAB            46010259.75  42360893.56  37798708.47  39066908.93
GT-2   BIHAR             38306251.83  38107726.31  25107519.29  35823265.55
       DELHI             31144268.11  30666728.74  29007459.42  33128981.46
       JHARKHAND         18564881.52  17488497.87  15089114.58  19229821.68
       RAJASTHAN-1       11537744.60  11283599.32   9936277.44  12445868.36
       RAJASTHAN-2        4278154.09   5463247.71   2904608.62   4631151.50
GT-3   CENTRAL -UP-1     15449975.13  15296606.50  13174475.35  15800328.59
       CENTRAL -UP-2     11124830.27  10837995.91   8326132.08  11819213.24
       EASTERN UP        71489024.58  52243596.66  43539251.54  56577746.84
       UTTRAKHAND        57597996.48  47905598.76  37845354.75  58178834.12
       WEST-UP-1         61862160.32  51917042.57  29235580.99  56114643.41
       WEST-UP-2         19714512.00  16468513.52  13194741.85  19078960.74
       WEST-UP-3          7184793.69   6596054.17   5173544.08   6005761.23
GT-4   NER               26265475.82  25325987.04  24511423.14  26311868.52
       ORISSA             2946510.18   3419439.45   2930062.83   3491623.30
       WEST BENGAL       20450240.26  21005113.30  16514169.43  21116074.16
GT-5   CHHATTISGARH       2037740.27   2266952.25   2210730.22   2334892.48
       MADHYA PRADESH-1   7750769.45   6802887.44   5308041.95   6969194.99
       MADHYA PRADESH-2   4212887.95   4732509.90   4165119.25   5441731.17
GT-6   GOA                1424658.50   1777375.81   1541953.86   1333516.80
       GUJARAT            1881031.44   1593232.16   1886224.35   1907801.41
       MUMBAI             1212872.38   1336735.56   1291460.02   1869797.93
       ROM                 676665.23    807646.16    986963.84   1067912.92
GT-7   ANDHRA PRADESH      913085.84   1366574.99   1196108.12   1051340.78
       KARNATAKA          3150504.90   3335831.24   3576283.47   3422025.00
       KERALA              101203.12    121806.03    128467.18     97474.62
       TAMILNADU          1094863.21   1080189.78   1013637.67   1068486.75

                          March_2022     Apr_2022
REGION STATE
GT-1   CHANDIGARH        12665079.69   8485284.52
       HARYANA           48395610.02  32415059.28
       HIMACHAL PRADESH  17631020.97  12591830.00
       JAMMU & KASHMIR   16357971.75  10451864.51
       PUNJAB            45461298.42  31912413.95
GT-2   BIHAR             47206978.13  32358236.95
       DELHI             42078891.43  25923993.83
       JHARKHAND         24329528.34  14867708.97
       RAJASTHAN-1       14584216.48   8687485.94
       RAJASTHAN-2        6165069.66   3442385.08
GT-3   CENTRAL -UP-1     16428626.78  11272584.30
       CENTRAL -UP-2      9931930.43   9127383.28
       EASTERN UP        71963985.43  47771331.62
       UTTRAKHAND        59577324.99  32820158.19
       WEST-UP-1         74935764.83  30225849.24
       WEST-UP-2         21539879.09  12891786.58
       WEST-UP-3          8450384.36   6264926.42
GT-4   NER               29562449.63  17873959.76
       ORISSA             3805721.98   2699103.59
       WEST BENGAL       24377925.18  14102258.08
GT-5   CHHATTISGARH       3002877.03   1749325.94
       MADHYA PRADESH-1   9999026.62   6374746.36
       MADHYA PRADESH-2   6241067.36   4980867.61
GT-6   GOA                1518655.23   1223237.91
       GUJARAT            2074674.68   1900037.01
       MUMBAI             1772476.51   1423650.85
       ROM                1093094.16   2120323.40
GT-7   ANDHRA PRADESH     1144596.06    580380.87
       KARNATAKA          4440825.11    711493.77
       KERALA              107169.09     56569.32
       TAMILNADU          1804856.03    812694.04