In [1]:
import pandas as pd
import numpy as np

In [2]:
Apr_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\Secondary\Apr_2022.csv',encoding = 'unicode_escape')
Dec_2021=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\Secondary\Dec-2021.csv',encoding = 'unicode_escape')
Feb_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Feb_2022.csv',encoding = 'unicode_escape')
Jan_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Jan_2022.csv',encoding = 'unicode_escape')
March_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\March_2022.csv',encoding = 'unicode_escape')
Nov_2021=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Nov_2021.csv',encoding = 'unicode_escape')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [193]:
Apr_2022=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\Secondary\Apr_2022.csv',encoding = 'unicode_escape')
Nov_2021=pd.read_csv(r'C:\Users\deepak.kumar13\Desktop\secondary\Nov_2021.csv',encoding = 'unicode_escape')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [195]:
Nov_2021,Dec_2021,March_2022,Apr_2022

,REGION,STATE,OUTLET ID,OUTLET NAME,DATE,Invoice_ID,Bill_No,SKU CODE,SKU CODE.1,OUTLET CLASSIFICATION,...,Size_GMS,Qty_In_Kgs,Total_Qty,Discount,Scheme_Discount,MRP,Unitprice,Amount,Order_State,Sale_Type
0,GT-2,RAJASTHAN-2,376118,Malik Store,44501,1.293520e+24,1029,110,FGFFS1427016G-011,GENERAL STORE,...,16.0,0.16,10,0,0.4800,10,7.5200,75.20,Secondary Sale,Secondary Sale
1,GT-2,RAJASTHAN-2,376118,Malik Store,44501,1.293520e+24,1029,130,FGFFS1A47016G-007,GENERAL STORE,...,16.0,0.16,10,0,0.4800,10,7.5200,75.20,Secondary Sale,Secondary Sale
2,GT-2,RAJASTHAN-2,376118,Malik Store,44501,1.293520e+24,1029,136,FGFFS1517016G-011,GENERAL STORE,...,16.0,0.16,10,0,0.4800,10,7.5200,75.20,Secondary Sale,Secondary Sale
3,GT-2,RAJASTHAN-2,638329,ramdev kirana,44501,1.617330e+24,MF00024212200550,756,FGFFS1413100G-009,GENERAL STORE,...,100.0,1.10,11,0,1.6728,68,54.0872,594.96,Secondary Sale,Secondary Sale
4,GT-2,RAJASTHAN-2,638329,ramdev kirana,44501,1.617330e+24,MF00024212200550,2572,FGFFS1023200G-007,GENERAL STORE,...,200.0,2.00,10,0,1.1070,45,35.7930,357.93,Secondary Sale,Secondary Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779890,GT-2,DELHI,95098,n.k store,44530,2.091510e+24,3017,152,FGFFS1241025G-002,GENERAL STORE,...,23.0,0.69,30,0,0.4800,10,7.5200,225.60,Secondary Sale,Secondary Sale
779891,GT-2,DELHI,95098,n.k store,44530,2.091510e+24,3017,154,FS1251025G003,GENERAL STORE,...,23.0,0.69,30,0,0.4800,10,7.5200,225.60,Secondary Sale,Secondary Sale
779892,GT-2,DELHI,95098,n.k store,44530,2.091510e+24,3017,12425,FGFFS1211020G-003,GENERAL STORE,...,20.0,0.60,30,0,0.4800,10,7.5200,225.60,Secondary Sale,Secondary Sale
779893,GT-3,CENTRAL -UP-1,168335,Ghansyam kirana,44530,3.762140e+24,S600106212201722,12433,FGFFS1517050G-002,GENERAL STORE,...,50.0,0.50,10,0,0.0000,40,30.0000,300.00,Secondary Sale,Secondary Sale
779894,GT-3,CENTRAL -UP-2,492936,Banavari kerana store,44530,2.898470e+24,N400176212201652,41,FGFFS1275025G-005,GENERAL STORE,...,25.0,0.25,10,0,0.0000,25,18.7500,187.50,Secondary Sale,Secondary Sale

# One_Month_Unique_Outlet

In [43]:
Nov_2021=Nov_2021.groupby(['REGION','STATE'])['OUTLET ID'].nunique()

In [44]:
pd.DataFrame(Nov_2021)

                         OUTLET ID
REGION STATE
GT-1   CHANDIGARH              510
       HARYANA                6334
       HIMACHAL PRADESH       1958
       JAMMU & KASHMIR        2206
       PUNJAB                 6735
GT-2   BIHAR                  9183
       DELHI                 10768
       JHARKHAND              6702
       RAJASTHAN-1            4608
       RAJASTHAN-2            1730
GT-3   CENTRAL -UP-1          6913
       CENTRAL -UP-2          3925
       EASTERN UP            10240
       UTTRAKHAND             6501
       WEST-UP-1             10336
       WEST-UP-2              4641
       WEST-UP-3              4108
GT-4   NER                    6616
       ORISSA                 2048
       WEST BENGAL            9239
GT-5   CHHATTISGARH            638
       MADHYA PRADESH-1       3610
       MADHYA PRADESH-2       1024
GT-6   GOA                    1130
       GUJARAT                2205
       MUMBAI                 2140
       ROM                    1210
GT-7   ANDHRA PRADESH          278
       KARNATAKA               647
       KERALA                   31
       TAMILNADU               626

In [45]:
Nov_2021.to_csv('Nov_2021_unique_outlet.csv')

# 6_Months_Unique_Outlet

In [13]:
df_list=[Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022]
df_list=[df.iloc[:,0:3].groupby(['REGION','STATE'])['OUTLET ID'].nunique() for df in df_list]

In [14]:
df_list

[REGION  STATE
 GT-1    CHANDIGARH            510
         HARYANA              6334
         HIMACHAL PRADESH     1958
         JAMMU & KASHMIR      2206
         PUNJAB               6735
 GT-2    BIHAR                9183
         DELHI               10768
         JHARKHAND            6702
         RAJASTHAN-1          4608
         RAJASTHAN-2          1730
 GT-3    CENTRAL -UP-1        6913
         CENTRAL -UP-2        3925
         EASTERN UP          10240
         UTTRAKHAND           6501
         WEST-UP-1           10336
         WEST-UP-2            4641
         WEST-UP-3            4108
 GT-4    NER                  6616
         ORISSA               2048
         WEST BENGAL          9239
 GT-5    CHHATTISGARH          638
         MADHYA PRADESH-1     3610
         MADHYA PRADESH-2     1024
 GT-6    GOA                  1130
         GUJARAT              2205
         MUMBAI               2140
         ROM                  1210
 GT-7    ANDHRA PRADESH        278
         KARNATAKA             647
         KERALA                 31
         TAMILNADU             626
 Name: OUTLET ID, dtype: int64,
 REGION  STATE
 GT-1    CHANDIGARH            518
         HARYANA              6973
         HIMACHAL PRADESH     2418
         JAMMU & KASHMIR      2399
         PUNJAB               7444
 GT-2    BIHAR                9825
         DELHI               11940
         JHARKHAND            7228
         RAJASTHAN-1          5292
         RAJASTHAN-2          2073
 GT-3    CENTRAL -UP-1        6595
         CENTRAL -UP-2        4286
         EASTERN UP          10869
         UTTRAKHAND           6778
         WEST-UP-1           10153
         WEST-UP-2            4607
         WEST-UP-3            3757
 GT-4    NER                  7164
         ORISSA               2262
         WEST BENGAL          9057
 GT-5    CHHATTISGARH          756
         MADHYA PRADESH-1     3832
         MADHYA PRADESH-2     1710
 GT-6    GOA                  1218
         GUJARAT              1780
         MUMBAI               2223
         ROM                  1108
 GT-7    ANDHRA PRADESH        326
         KARNATAKA             972
         KERALA                 32
         TAMILNADU             679
 Name: OUTLET ID, dtype: int64,
 REGION  STATE
 GT-1    CHANDIGARH            500
         HARYANA              7244
         HIMACHAL PRADESH     2226
         JAMMU & KASHMIR      2022
         PUNJAB               7760
 GT-2    BIHAR               10058
         DELHI               12084
         JHARKHAND            7135
         RAJASTHAN-1          5377
         RAJASTHAN-2          2119
 GT-3    CENTRAL -UP-1        7470
         CENTRAL -UP-2        4353
         EASTERN UP          11232
         UTTRAKHAND           7122
         WEST-UP-1           10225
         WEST-UP-2            5249
         WEST-UP-3            3707
 GT-4    NER                  7138
         ORISSA               2087
         WEST BENGAL          9376
 GT-5    CHHATTISGARH         1012
         MADHYA PRADESH-1     3764
         MADHYA PRADESH-2     1814
 GT-6    GOA                  1281
         GUJARAT              2016
         MUMBAI               2388
         ROM                  1605
 GT-7    ANDHRA PRADESH        461
         KARNATAKA             774
         KERALA                 32
         TAMILNADU             596
 Name: OUTLET ID, dtype: int64,
 REGION  STATE
 GT-1    CHANDIGARH            522
         HARYANA              7492
         HIMACHAL PRADESH     2260
         JAMMU & KASHMIR      2312
         PUNJAB               8010
 GT-2    BIHAR               10474
         DELHI               12215
         JHARKHAND            7261
         RAJASTHAN-1          5462
         RAJASTHAN-2          2084
 GT-3    CENTRAL -UP-1        7205
         CENTRAL -UP-2        4404
         EASTERN UP          11983
         UTTRAKHAND           7451
         WEST-UP-1           10855
         WEST-UP-2            5457
         WEST-UP-3            3699
 GT-4    NER                  7375
         ORISSA               2342
         WEST BENGAL         10675
 GT-5    CHHATTISGARH         1251
         MADHYA PRADESH-1     4520
         MADHYA PRADESH-2     1758
 GT-6    GOA                  1238
         GUJARAT              2185
         MUMBAI               2689
         ROM                  1899
 GT-7    ANDHRA PRADESH        460
         KARNATAKA             923
         KERALA                 28
         TAMILNADU             675
 Name: OUTLET ID, dtype: int64,
 REGION  STATE
 GT-1    CHANDIGARH            534
         HARYANA              7575
         HIMACHAL PRADESH     2290
         JAMMU & KASHMIR      2388
         PUNJAB               8307
 GT-2    BIHAR               10438
         DELHI               12490
         JHARKHAND            7373
         RAJASTHAN-1          5557
         RAJASTHAN-2          1652
 GT-3    CENTRAL -UP-1        7094
         CENTRAL -UP-2        4045
         EASTERN UP          12288
         UTTRAKHAND           7308
         WEST-UP-1           10855
         WEST-UP-2            5233
         WEST-UP-3            4301
 GT-4    NER                  7641
         ORISSA               2143
         WEST BENGAL         10610
 GT-5    CHHATTISGARH         1166
         MADHYA PRADESH-1     4699
         MADHYA PRADESH-2     1588
 GT-6    GOA                  1281
         GUJARAT              2390
         MUMBAI               2988
         ROM                  1576
 GT-7    ANDHRA PRADESH        374
         KARNATAKA             723
         KERALA                 33
         TAMILNADU             666
 Name: OUTLET ID, dtype: int64,
 REGION  STATE
 GT-1    CHANDIGARH            505
         HARYANA              7625
         HIMACHAL PRADESH     2093
         JAMMU & KASHMIR      2260
         PUNJAB               8265
 GT-2    BIHAR               10730
         DELHI               11573
         JHARKHAND            7434
         RAJASTHAN-1          5697
         RAJASTHAN-2          1149
 GT-3    CENTRAL -UP-1        6918
         CENTRAL -UP-2        4264
         EASTERN UP          12542
         UTTRAKHAND           7026
         WEST-UP-1            9855
         WEST-UP-2            5169
         WEST-UP-3            4402
 GT-4    NER                  7390
         ORISSA               2056
         WEST BENGAL          9496
 GT-5    CHHATTISGARH         1155
         MADHYA PRADESH-1     4798
         MADHYA PRADESH-2     1904
 GT-6    GOA                  1232
         GUJARAT              2559
         MUMBAI               2713
         ROM                  1618
 GT-7    ANDHRA PRADESH        234
         KARNATAKA             249
         KERALA                 18
         TAMILNADU             595
 Name: OUTLET ID, dtype: int64]

In [26]:
data1=pd.DataFrame(df_list).T
data1

                         OUTLET ID  OUTLET ID  OUTLET ID  OUTLET ID  \
REGION STATE
GT-1   CHANDIGARH              510        518        500        522
       HARYANA                6334       6973       7244       7492
       HIMACHAL PRADESH       1958       2418       2226       2260
       JAMMU & KASHMIR        2206       2399       2022       2312
       PUNJAB                 6735       7444       7760       8010
GT-2   BIHAR                  9183       9825      10058      10474
       DELHI                 10768      11940      12084      12215
       JHARKHAND              6702       7228       7135       7261
       RAJASTHAN-1            4608       5292       5377       5462
       RAJASTHAN-2            1730       2073       2119       2084
GT-3   CENTRAL -UP-1          6913       6595       7470       7205
       CENTRAL -UP-2          3925       4286       4353       4404
       EASTERN UP            10240      10869      11232      11983
       UTTRAKHAND             6501       6778       7122       7451
       WEST-UP-1             10336      10153      10225      10855
       WEST-UP-2              4641       4607       5249       5457
       WEST-UP-3              4108       3757       3707       3699
GT-4   NER                    6616       7164       7138       7375
       ORISSA                 2048       2262       2087       2342
       WEST BENGAL            9239       9057       9376      10675
GT-5   CHHATTISGARH            638        756       1012       1251
       MADHYA PRADESH-1       3610       3832       3764       4520
       MADHYA PRADESH-2       1024       1710       1814       1758
GT-6   GOA                    1130       1218       1281       1238
       GUJARAT                2205       1780       2016       2185
       MUMBAI                 2140       2223       2388       2689
       ROM                    1210       1108       1605       1899
GT-7   ANDHRA PRADESH          278        326        461        460
       KARNATAKA               647        972        774        923
       KERALA                   31         32         32         28
       TAMILNADU               626        679        596        675

                         OUTLET ID  OUTLET ID
REGION STATE
GT-1   CHANDIGARH              534        505
       HARYANA                7575       7625
       HIMACHAL PRADESH       2290       2093
       JAMMU & KASHMIR        2388       2260
       PUNJAB                 8307       8265
GT-2   BIHAR                 10438      10730
       DELHI                 12490      11573
       JHARKHAND              7373       7434
       RAJASTHAN-1            5557       5697
       RAJASTHAN-2            1652       1149
GT-3   CENTRAL -UP-1          7094       6918
       CENTRAL -UP-2          4045       4264
       EASTERN UP            12288      12542
       UTTRAKHAND             7308       7026
       WEST-UP-1             10855       9855
       WEST-UP-2              5233       5169
       WEST-UP-3              4301       4402
GT-4   NER                    7641       7390
       ORISSA                 2143       2056
       WEST BENGAL           10610       9496
GT-5   CHHATTISGARH           1166       1155
       MADHYA PRADESH-1       4699       4798
       MADHYA PRADESH-2       1588       1904
GT-6   GOA                    1281       1232
       GUJARAT                2390       2559
       MUMBAI                 2988       2713
       ROM                    1576       1618
GT-7   ANDHRA PRADESH          374        234
       KARNATAKA               723        249
       KERALA                   33         18
       TAMILNADU               666        595

In [41]:
Unique_Outlet=pd.DataFrame()

In [42]:
Unique_Outlet['Nov_2021']=data1['OUTLET ID'].iloc[:,0:1]
Unique_Outlet['Dec_2021']=data1['OUTLET ID'].iloc[:,1:2]
Unique_Outlet['Jan_2022']=data1['OUTLET ID'].iloc[:,2:3]
Unique_Outlet['Feb_2022']=data1['OUTLET ID'].iloc[:,3:4]
Unique_Outlet['March_2022']=data1['OUTLET ID'].iloc[:,4:5]
Unique_Outlet['Apr_2022']=data1['OUTLET ID'].iloc[:,5:6]

In [44]:
Unique_Outlet

                         Nov_2021  Dec_2021  Jan_2022  Feb_2022  March_2022  \
REGION STATE
GT-1   CHANDIGARH             510       518       500       522         534
       HARYANA               6334      6973      7244      7492        7575
       HIMACHAL PRADESH      1958      2418      2226      2260        2290
       JAMMU & KASHMIR       2206      2399      2022      2312        2388
       PUNJAB                6735      7444      7760      8010        8307
GT-2   BIHAR                 9183      9825     10058     10474       10438
       DELHI                10768     11940     12084     12215       12490
       JHARKHAND             6702      7228      7135      7261        7373
       RAJASTHAN-1           4608      5292      5377      5462        5557
       RAJASTHAN-2           1730      2073      2119      2084        1652
GT-3   CENTRAL -UP-1         6913      6595      7470      7205        7094
       CENTRAL -UP-2         3925      4286      4353      4404        4045
       EASTERN UP           10240     10869     11232     11983       12288
       UTTRAKHAND            6501      6778      7122      7451        7308
       WEST-UP-1            10336     10153     10225     10855       10855
       WEST-UP-2             4641      4607      5249      5457        5233
       WEST-UP-3             4108      3757      3707      3699        4301
GT-4   NER                   6616      7164      7138      7375        7641
       ORISSA                2048      2262      2087      2342        2143
       WEST BENGAL           9239      9057      9376     10675       10610
GT-5   CHHATTISGARH           638       756      1012      1251        1166
       MADHYA PRADESH-1      3610      3832      3764      4520        4699
       MADHYA PRADESH-2      1024      1710      1814      1758        1588
GT-6   GOA                   1130      1218      1281      1238        1281
       GUJARAT               2205      1780      2016      2185        2390
       MUMBAI                2140      2223      2388      2689        2988
       ROM                   1210      1108      1605      1899        1576
GT-7   ANDHRA PRADESH         278       326       461       460         374
       KARNATAKA              647       972       774       923         723
       KERALA                  31        32        32        28          33
       TAMILNADU              626       679       596       675         666

                         Apr_2022
REGION STATE
GT-1   CHANDIGARH             505
       HARYANA               7625
       HIMACHAL PRADESH      2093
       JAMMU & KASHMIR       2260
       PUNJAB                8265
GT-2   BIHAR                10730
       DELHI                11573
       JHARKHAND             7434
       RAJASTHAN-1           5697
       RAJASTHAN-2           1149
GT-3   CENTRAL -UP-1         6918
       CENTRAL -UP-2         4264
       EASTERN UP           12542
       UTTRAKHAND            7026
       WEST-UP-1             9855
       WEST-UP-2             5169
       WEST-UP-3             4402
GT-4   NER                   7390
       ORISSA                2056
       WEST BENGAL           9496
GT-5   CHHATTISGARH          1155
       MADHYA PRADESH-1      4798
       MADHYA PRADESH-2      1904
GT-6   GOA                   1232
       GUJARAT               2559
       MUMBAI                2713
       ROM                   1618
GT-7   ANDHRA PRADESH         234
       KARNATAKA              249
       KERALA                  18
       TAMILNADU              595

In [3]:
# All Code for 6 months unique outlet count

df_list=[Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022]
df_list=[df.iloc[:,0:3].groupby(['REGION','STATE'])['OUTLET ID'].nunique() for df in df_list]
data1=pd.DataFrame(df_list).T
Unique_Outlet1=pd.DataFrame()
Unique_Outlet1['Nov_2021']=data1['OUTLET ID'].iloc[:,0:1]
Unique_Outlet1['Dec_2021']=data1['OUTLET ID'].iloc[:,1:2]
Unique_Outlet1['Jan_2022']=data1['OUTLET ID'].iloc[:,2:3]
Unique_Outlet1['Feb_2022']=data1['OUTLET ID'].iloc[:,3:4]
Unique_Outlet1['March_2022']=data1['OUTLET ID'].iloc[:,4:5]
Unique_Outlet1['Apr_2022']=data1['OUTLET ID'].iloc[:,5:6]

In [4]:
Unique_Outlet1

                         Nov_2021  Dec_2021  Jan_2022  Feb_2022  March_2022  \
REGION STATE
GT-1   CHANDIGARH             510       518       500       522         534
       HARYANA               6334      6973      7244      7492        7575
       HIMACHAL PRADESH      1958      2418      2226      2260        2290
       JAMMU & KASHMIR       2206      2399      2022      2312        2388
       PUNJAB                6735      7444      7760      8010        8307
GT-2   BIHAR                 9183      9825     10058     10474       10438
       DELHI                10768     11940     12084     12215       12490
       JHARKHAND             6702      7228      7135      7261        7373
       RAJASTHAN-1           4608      5292      5377      5462        5557
       RAJASTHAN-2           1730      2073      2119      2084        1652
GT-3   CENTRAL -UP-1         6913      6595      7470      7205        7094
       CENTRAL -UP-2         3925      4286      4353      4404        4045
       EASTERN UP           10240     10869     11232     11983       12288
       UTTRAKHAND            6501      6778      7122      7451        7308
       WEST-UP-1            10336     10153     10225     10855       10855
       WEST-UP-2             4641      4607      5249      5457        5233
       WEST-UP-3             4108      3757      3707      3699        4301
GT-4   NER                   6616      7164      7138      7375        7641
       ORISSA                2048      2262      2087      2342        2143
       WEST BENGAL           9239      9057      9376     10675       10610
GT-5   CHHATTISGARH           638       756      1012      1251        1166
       MADHYA PRADESH-1      3610      3832      3764      4520        4699
       MADHYA PRADESH-2      1024      1710      1814      1758        1588
GT-6   GOA                   1130      1218      1281      1238        1281
       GUJARAT               2205      1780      2016      2185        2390
       MUMBAI                2140      2223      2388      2689        2988
       ROM                   1210      1108      1605      1899        1576
GT-7   ANDHRA PRADESH         278       326       461       460         374
       KARNATAKA              647       972       774       923         723
       KERALA                  31        32        32        28          33
       TAMILNADU              626       679       596       675         666

                         Apr_2022
REGION STATE
GT-1   CHANDIGARH             505
       HARYANA               7625
       HIMACHAL PRADESH      2093
       JAMMU & KASHMIR       2260
       PUNJAB                8265
GT-2   BIHAR                10730
       DELHI                11573
       JHARKHAND             7434
       RAJASTHAN-1           5697
       RAJASTHAN-2           1149
GT-3   CENTRAL -UP-1         6918
       CENTRAL -UP-2         4264
       EASTERN UP           12542
       UTTRAKHAND            7026
       WEST-UP-1             9855
       WEST-UP-2             5169
       WEST-UP-3             4402
GT-4   NER                   7390
       ORISSA                2056
       WEST BENGAL           9496
GT-5   CHHATTISGARH          1155
       MADHYA PRADESH-1      4798
       MADHYA PRADESH-2      1904
GT-6   GOA                   1232
       GUJARAT               2559
       MUMBAI                2713
       ROM                   1618
GT-7   ANDHRA PRADESH         234
       KARNATAKA              249
       KERALA                  18
       TAMILNADU              595

# Unique_outlet_Categories_wise

# One_Month

In [47]:
April_2022=Apr_2022.groupby(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].nunique()
unique_outlet=pd.DataFrame(April_2022)
unique_outlet.to_csv('Unique_Outlet_April_2022.csv')
df=pd.read_csv('Unique_Outlet_April_2022.csv')
df_1=df.set_index(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].unstack()
df_1=df.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values='OUTLET ID')

In [48]:
pd.DataFrame(df_1)

PRODUCT NEW                  BL     GGP     GR    Hing     KWL      MM  \
REGION STATE
GT-1   CHANDIGARH         310.0   163.0   10.0   240.0    11.0   243.0
       HARYANA           3379.0  1189.0   30.0  1751.0   225.0  3898.0
       HIMACHAL PRADESH  1457.0   506.0    NaN   648.0    86.0  1347.0
       JAMMU & KASHMIR   1276.0   645.0    NaN   222.0   104.0   415.0
       PUNJAB            3265.0  1567.0   50.0  1932.0   593.0  3636.0
GT-2   BIHAR             5639.0  1289.0   18.0  2296.0   871.0  5451.0
       DELHI             2694.0  1141.0   42.0  2338.0   498.0  6458.0
       JHARKHAND         3507.0  1480.0   51.0  1153.0   672.0  4766.0
       RAJASTHAN-1       2639.0  1044.0    NaN  1082.0   577.0  3571.0
       RAJASTHAN-2        368.0   208.0    NaN    68.0   156.0   517.0
GT-3   CENTRAL -UP-1     2674.0   226.0    NaN   456.0  1801.0  2896.0
       CENTRAL -UP-2     1979.0   392.0    NaN   460.0  1330.0  1477.0
       EASTERN UP        7774.0  1821.0    1.0  2220.0  2030.0  5023.0
       UTTRAKHAND        4081.0  1477.0   21.0  1104.0   184.0  4426.0
       WEST-UP-1         4501.0  1550.0   13.0  1600.0   379.0  6287.0
       WEST-UP-2         2778.0   244.0    NaN   865.0   668.0  2091.0
       WEST-UP-3         1429.0   523.0    1.0   696.0   608.0  1963.0
GT-4   NER               3510.0  1676.0    NaN   682.0  1061.0  5002.0
       ORISSA             816.0   136.0    4.0   204.0   442.0  1070.0
       WEST BENGAL       2161.0  1873.0   40.0  1139.0  2136.0  5694.0
GT-5   CHHATTISGARH       242.0    94.0    NaN    59.0    97.0   558.0
       MADHYA PRADESH-1  1907.0   567.0   11.0   673.0   998.0  2588.0
       MADHYA PRADESH-2  1129.0   295.0    NaN   216.0   255.0   577.0
GT-6   GOA                127.0   143.0   80.0   198.0   116.0   485.0
       GUJARAT            302.0   308.0  113.0   142.0   834.0   651.0
       MUMBAI              88.0   223.0  254.0    23.0   203.0   668.0
       ROM                125.0   123.0  168.0    36.0    47.0   242.0
GT-7   ANDHRA PRADESH      83.0     1.0    2.0     NaN     8.0    77.0
       KARNATAKA           82.0    15.0   11.0    44.0     3.0     3.0
       KERALA              17.0     NaN    NaN     NaN     NaN    14.0
       TAMILNADU           76.0   170.0    6.0    16.0    80.0   113.0

PRODUCT NEW                 NJN    PRS      SP      ST     STP       W
REGION STATE
GT-1   CHANDIGARH          43.0   49.0   249.0   364.0   280.0    58.0
       HARYANA           1303.0  240.0  2993.0  1731.0  2062.0   529.0
       HIMACHAL PRADESH   483.0  133.0  1090.0  1021.0  1134.0   781.0
       JAMMU & KASHMIR    465.0  166.0   820.0  1264.0  1132.0   634.0
       PUNJAB            1025.0  374.0  2415.0  2620.0  2282.0   304.0
GT-2   BIHAR             1521.0  134.0  2846.0  3902.0  4435.0   266.0
       DELHI             2379.0   84.0  3359.0  2068.0  1618.0   482.0
       JHARKHAND         1386.0  125.0  1023.0  1381.0  2353.0   290.0
       RAJASTHAN-1       1512.0   24.0   900.0   437.0  1296.0   113.0
       RAJASTHAN-2        142.0   12.0   266.0    47.0   138.0     NaN
GT-3   CENTRAL -UP-1      268.0   54.0  1456.0   847.0   951.0   447.0
       CENTRAL -UP-2      228.0   91.0   843.0   872.0  1175.0   207.0
       EASTERN UP         442.0  152.0  2766.0  4362.0  4961.0  1445.0
       UTTRAKHAND         239.0   81.0   892.0  3011.0  2644.0   767.0
       WEST-UP-1          746.0  161.0  1722.0  2160.0  3312.0   570.0
       WEST-UP-2           76.0   10.0   498.0   763.0  1263.0   178.0
       WEST-UP-3          355.0   16.0   525.0   445.0   515.0   158.0
GT-4   NER                505.0  280.0  4195.0  3225.0  3007.0   210.0
       ORISSA             297.0   52.0   333.0   404.0   544.0   129.0
       WEST BENGAL        765.0  219.0  3013.0   871.0  2914.0   213.0
GT-5   CHHATTISGARH       114.0    NaN   306.0   112.0   168.0    23.0
       MADHYA PRADESH-1   999.0    5.0   633.0   332.0   985.0    18.0
       MADHYA PRADESH-2   372.0    9.0   513.0   329.0   446.0   102.0
GT-6   GOA                119.0   35.0   369.0   393.0    62.0   185.0
       GUJARAT            175.0   66.0  1485.0    37.0   160.0     5.0
       MUMBAI             121.0  136.0  2081.0    43.0    69.0     1.0
       ROM                123.0   41.0  1125.0    47.0    91.0   109.0
GT-7   ANDHRA PRADESH       NaN    NaN   111.0    20.0   100.0     2.0
       KARNATAKA            1.0    2.0   227.0     4.0     4.0     1.0
       KERALA               NaN    NaN     NaN     NaN    12.0     NaN
       TAMILNADU          104.0    4.0   330.0    68.0   178.0    19.0

# 6_Months

In [148]:
# All codes

df_list1=[Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022]
df_list1=[df2.groupby(['REGION','STATE'])['OUTLET ID'].nunique() for df2 in df_list]
unique_outlet2=pd.DataFrame(df_list1).T

data=pd.DataFrame()
data['Nov_2021']=a.iloc[:,0:1]
data['Dec_2021']=a.iloc[:,1:2]
data['Jan_2022']=a.iloc[:,2:3]
data['Feb_2022']=a.iloc[:,3:4]
data['March_2022']=a.iloc[:,4:5]
data['Apr_2022']=a.iloc[:,5:6]

data.to_csv('temp3.csv')
df4=pd.read_csv('temp3.csv')
df_1=df4.set_index(['REGION','STATE','PRODUCT NEW'])
df_1=df4.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values=['Nov_2021','Dec_2021','Jan_2022','Feb_2022','March_2022','Apr_2022'])
df_1.to_csv('6_Months_Categories_wise_unique_Outlet4.csv')

In [151]:
pd.DataFrame(df_1)

                        Nov_2021                                         \
PRODUCT NEW                   BL     GGP     GR    Hing     KWL      MM
REGION STATE
GT-1   CHANDIGARH          317.0    63.0    NaN   183.0     NaN   197.0
       HARYANA            2633.0   968.0    NaN  1374.0    70.0  3022.0
       HIMACHAL PRADESH   1083.0   223.0    NaN   546.0    56.0   635.0
       JAMMU & KASHMIR    1167.0   261.0    NaN   330.0    60.0   379.0
       PUNJAB             2589.0  1010.0    NaN  2123.0   416.0  2481.0
GT-2   BIHAR              4708.0   682.0    NaN  1846.0   696.0  4039.0
       DELHI              2453.0  1085.0    NaN  2194.0   363.0  5794.0
       JHARKHAND          2353.0  1123.0    NaN  1218.0   417.0  4849.0
       RAJASTHAN-1        1906.0   655.0    NaN   562.0   438.0  2219.0
       RAJASTHAN-2         616.0   146.0    NaN    86.0   183.0   831.0
GT-3   CENTRAL -UP-1      3139.0   331.0    NaN   928.0  1619.0  2520.0
       CENTRAL -UP-2      1961.0   462.0    NaN   602.0   810.0  1090.0
       EASTERN UP         5487.0   730.0    2.0  1729.0   774.0  4519.0
       UTTRAKHAND         3831.0  1226.0    NaN  1570.0   100.0  3753.0
       WEST-UP-1          4459.0   970.0   15.0  2605.0   352.0  6471.0
       WEST-UP-2          2362.0   267.0    NaN  1121.0   372.0  1987.0
       WEST-UP-3          1619.0   322.0    NaN   819.0   656.0  1860.0
GT-4   NER                3216.0   662.0    NaN   826.0   176.0  3437.0
       ORISSA              729.0   298.0   11.0   211.0   334.0  1189.0
       WEST BENGAL        1465.0  1889.0    NaN   747.0  1777.0  5012.0
GT-5   CHHATTISGARH        158.0    53.0    NaN    41.0    38.0   256.0
       MADHYA PRADESH-1   1495.0   511.0    NaN   381.0   485.0  1559.0
       MADHYA PRADESH-2    583.0    40.0    NaN   207.0   112.0   291.0
GT-6   GOA                  99.0   113.0   57.0   138.0   182.0   237.0
       GUJARAT             391.0   430.0  151.0   116.0   421.0   637.0
       MUMBAI               33.0   175.0  182.0    15.0   103.0   425.0
       ROM                  96.0    80.0   74.0    31.0    50.0   308.0
GT-7   ANDHRA PRADESH      120.0     7.0    2.0    12.0    45.0    67.0
       KARNATAKA           104.0    65.0   24.0    54.0   116.0    77.0
       KERALA               26.0     4.0    NaN     NaN     1.0    22.0
       TAMILNADU           167.0   114.0   18.0    60.0    61.0   203.0

                                                     ... Apr_2022          \
PRODUCT NEW                 NJN PRS      SP      ST  ...       GR    Hing
REGION STATE                                         ...
GT-1   CHANDIGARH          30.0 NaN   200.0   388.0  ...     10.0   240.0
       HARYANA             76.0 NaN  1580.0  1638.0  ...     30.0  1751.0
       HIMACHAL PRADESH     NaN NaN   898.0   982.0  ...      NaN   648.0
       JAMMU & KASHMIR      NaN NaN   227.0  1180.0  ...      NaN   222.0
       PUNJAB             374.0 NaN  1236.0  2525.0  ...     50.0  1932.0
GT-2   BIHAR                NaN NaN  2410.0  3678.0  ...     18.0  2296.0
       DELHI              865.0 NaN  2706.0  2300.0  ...     42.0  2338.0
       JHARKHAND            NaN NaN   787.0  1318.0  ...     51.0  1153.0
       RAJASTHAN-1          NaN NaN   458.0   421.0  ...      NaN  1082.0
       RAJASTHAN-2          NaN NaN   243.0    81.0  ...      NaN    68.0
GT-3   CENTRAL -UP-1      247.0 NaN  1086.0  1159.0  ...      NaN   456.0
       CENTRAL -UP-2      208.0 NaN   645.0  1130.0  ...      NaN   460.0
       EASTERN UP          68.0 NaN  1747.0  3425.0  ...      1.0  2220.0
       UTTRAKHAND         257.0 NaN   972.0  3045.0  ...     21.0  1104.0
       WEST-UP-1          381.0 NaN  1198.0  2815.0  ...     13.0  1600.0
       WEST-UP-2            NaN NaN   433.0   938.0  ...      NaN   865.0
       WEST-UP-3            NaN NaN   484.0   488.0  ...      1.0   696.0
GT-4   NER                324.0 NaN  3740.0  3311.0  ...      NaN   682.0
       ORISSA               NaN NaN   432.0   552.0  ...      4.0   204.0
       WEST BENGAL       1301.0 NaN  2184.0  1005.0  ...     40.0  1139.0
GT-5   CHHATTISGARH         NaN NaN   230.0   100.0  ...      NaN    59.0
       MADHYA PRADESH-1     NaN NaN   663.0   432.0  ...     11.0   673.0
       MADHYA PRADESH-2     NaN NaN   144.0   185.0  ...      NaN   216.0
GT-6   GOA                  NaN NaN   368.0   425.0  ...     80.0   198.0
       GUJARAT             54.0 NaN  1177.0    40.0  ...    113.0   142.0
       MUMBAI             129.0 NaN  1561.0    45.0  ...    254.0    23.0
       ROM                  NaN NaN   706.0    68.0  ...    168.0    36.0
GT-7   ANDHRA PRADESH       NaN NaN   198.0    59.0  ...      2.0     NaN
       KARNATAKA            NaN NaN   395.0    36.0  ...     11.0    44.0
       KERALA               NaN NaN     NaN     NaN  ...      NaN     NaN
       TAMILNADU            NaN NaN   332.0    18.0  ...      6.0    16.0

                                                                        \
PRODUCT NEW                 KWL      MM     NJN    PRS      SP      ST
REGION STATE
GT-1   CHANDIGARH          11.0   243.0    43.0   49.0   249.0   364.0
       HARYANA            225.0  3898.0  1303.0  240.0  2993.0  1731.0
       HIMACHAL PRADESH    86.0  1347.0   483.0  133.0  1090.0  1021.0
       JAMMU & KASHMIR    104.0   415.0   465.0  166.0   820.0  1264.0
       PUNJAB             593.0  3636.0  1025.0  374.0  2415.0  2620.0
GT-2   BIHAR              871.0  5451.0  1521.0  134.0  2846.0  3902.0
       DELHI              498.0  6458.0  2379.0   84.0  3359.0  2068.0
       JHARKHAND          672.0  4766.0  1386.0  125.0  1023.0  1381.0
       RAJASTHAN-1        577.0  3571.0  1512.0   24.0   900.0   437.0
       RAJASTHAN-2        156.0   517.0   142.0   12.0   266.0    47.0
GT-3   CENTRAL -UP-1     1801.0  2896.0   268.0   54.0  1456.0   847.0
       CENTRAL -UP-2     1330.0  1477.0   228.0   91.0   843.0   872.0
       EASTERN UP        2030.0  5023.0   442.0  152.0  2766.0  4362.0
       UTTRAKHAND         184.0  4426.0   239.0   81.0   892.0  3011.0
       WEST-UP-1          379.0  6287.0   746.0  161.0  1722.0  2160.0
       WEST-UP-2          668.0  2091.0    76.0   10.0   498.0   763.0
       WEST-UP-3          608.0  1963.0   355.0   16.0   525.0   445.0
GT-4   NER               1061.0  5002.0   505.0  280.0  4195.0  3225.0
       ORISSA             442.0  1070.0   297.0   52.0   333.0   404.0
       WEST BENGAL       2136.0  5694.0   765.0  219.0  3013.0   871.0
GT-5   CHHATTISGARH        97.0   558.0   114.0    NaN   306.0   112.0
       MADHYA PRADESH-1   998.0  2588.0   999.0    5.0   633.0   332.0
       MADHYA PRADESH-2   255.0   577.0   372.0    9.0   513.0   329.0
GT-6   GOA                116.0   485.0   119.0   35.0   369.0   393.0
       GUJARAT            834.0   651.0   175.0   66.0  1485.0    37.0
       MUMBAI             203.0   668.0   121.0  136.0  2081.0    43.0
       ROM                 47.0   242.0   123.0   41.0  1125.0    47.0
GT-7   ANDHRA PRADESH       8.0    77.0     NaN    NaN   111.0    20.0
       KARNATAKA            3.0     3.0     1.0    2.0   227.0     4.0
       KERALA               NaN    14.0     NaN    NaN     NaN     NaN
       TAMILNADU           80.0   113.0   104.0    4.0   330.0    68.0


PRODUCT NEW                 STP       W
REGION STATE
GT-1   CHANDIGARH         280.0    58.0
       HARYANA           2062.0   529.0
       HIMACHAL PRADESH  1134.0   781.0
       JAMMU & KASHMIR   1132.0   634.0
       PUNJAB            2282.0   304.0
GT-2   BIHAR             4435.0   266.0
       DELHI             1618.0   482.0
       JHARKHAND         2353.0   290.0
       RAJASTHAN-1       1296.0   113.0
       RAJASTHAN-2        138.0     NaN
GT-3   CENTRAL -UP-1      951.0   447.0
       CENTRAL -UP-2     1175.0   207.0
       EASTERN UP        4961.0  1445.0
       UTTRAKHAND        2644.0   767.0
       WEST-UP-1         3312.0   570.0
       WEST-UP-2         1263.0   178.0
       WEST-UP-3          515.0   158.0
GT-4   NER               3007.0   210.0
       ORISSA             544.0   129.0
       WEST BENGAL       2914.0   213.0
GT-5   CHHATTISGARH       168.0    23.0
       MADHYA PRADESH-1   985.0    18.0
       MADHYA PRADESH-2   446.0   102.0
GT-6   GOA                 62.0   185.0
       GUJARAT            160.0     5.0
       MUMBAI              69.0     1.0
       ROM                 91.0   109.0
GT-7   ANDHRA PRADESH     100.0     2.0
       KARNATAKA            4.0     1.0
       KERALA              12.0     NaN
       TAMILNADU          178.0    19.0

[31 rows x 72 columns]

In [ ]:
# Seprate rows codes

In [121]:
df_list1=[Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022]

In [145]:
df_list1=[df2.groupby(['REGION','STATE'])['OUTLET ID'].nunique() for df2 in df_list]
unique_outlet1=pd.DataFrame(df_list1)

In [146]:
unique_outlet1.T

                         OUTLET ID  OUTLET ID  OUTLET ID  OUTLET ID  OUTLET ID
REGION STATE
GT-1   CHANDIGARH              518        500        522        534        505
       HARYANA                6973       7244       7492       7575       7625
       HIMACHAL PRADESH       2418       2226       2260       2290       2093
       JAMMU & KASHMIR        2399       2022       2312       2388       2260
       PUNJAB                 7444       7760       8010       8307       8265
GT-2   BIHAR                  9825      10058      10474      10438      10730
       DELHI                 11940      12084      12215      12490      11573
       JHARKHAND              7228       7135       7261       7373       7434
       RAJASTHAN-1            5292       5377       5462       5557       5697
       RAJASTHAN-2            2073       2119       2084       1652       1149
GT-3   CENTRAL -UP-1          6595       7470       7205       7094       6918
       CENTRAL -UP-2          4286       4353       4404       4045       4264
       EASTERN UP            10869      11232      11983      12288      12542
       UTTRAKHAND             6778       7122       7451       7308       7026
       WEST-UP-1             10153      10225      10855      10855       9855
       WEST-UP-2              4607       5249       5457       5233       5169
       WEST-UP-3              3757       3707       3699       4301       4402
GT-4   NER                    7164       7138       7375       7641       7390
       ORISSA                 2262       2087       2342       2143       2056
       WEST BENGAL            9057       9376      10675      10610       9496
GT-5   CHHATTISGARH            756       1012       1251       1166       1155
       MADHYA PRADESH-1       3832       3764       4520       4699       4798
       MADHYA PRADESH-2       1710       1814       1758       1588       1904
GT-6   GOA                    1218       1281       1238       1281       1232
       GUJARAT                1780       2016       2185       2390       2559
       MUMBAI                 2223       2388       2689       2988       2713
       ROM                    1108       1605       1899       1576       1618
GT-7   ANDHRA PRADESH          326        461        460        374        234
       KARNATAKA               972        774        923        723        249
       KERALA                   32         32         28         33         18
       TAMILNADU               679        596        675        666        595

In [93]:
data=pd.DataFrame()

In [94]:
data['Nov_2021']=a.iloc[:,0:1]
data['Dec_2021']=a.iloc[:,1:2]
data['Jan_2022']=a.iloc[:,2:3]
data['Feb_2022']=a.iloc[:,3:4]
data['March_2022']=a.iloc[:,4:5]
data['Apr_2022']=a.iloc[:,5:6]

In [98]:
df4

,REGION,STATE,PRODUCT NEW,Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022
0,GT-1,CHANDIGARH,BL,317.0,307.0,311.0,332.0,388.0,310.0
1,GT-1,CHANDIGARH,GGP,63.0,58.0,57.0,73.0,166.0,163.0
2,GT-1,CHANDIGARH,GR,NaN,NaN,NaN,30.0,18.0,10.0
3,GT-1,CHANDIGARH,Hing,183.0,221.0,222.0,266.0,273.0,240.0
4,GT-1,CHANDIGARH,KWL,NaN,NaN,1.0,6.0,3.0,11.0
...,...,...,...,...,...,...,...,...,...
349,GT-7,TAMILNADU,PRS,NaN,NaN,NaN,5.0,5.0,4.0
350,GT-7,TAMILNADU,SP,332.0,393.0,376.0,406.0,322.0,330.0
351,GT-7,TAMILNADU,ST,18.0,16.0,36.0,16.0,36.0,68.0
352,GT-7,TAMILNADU,STP,123.0,211.0,224.0,231.0,203.0,178.0
353,GT-7,TAMILNADU,W,8.0,2.0,2.0,2.0,3.0,19.0

In [101]:
df_1=df4.set_index(['REGION','STATE','PRODUCT NEW'])
df_1=df4.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values=['Nov_2021','Dec_2021','Jan_2022','Feb_2022','March_2022','Apr_2022'])

In [102]:
df_1

                        Nov_2021                                         \
PRODUCT NEW                   BL     GGP     GR    Hing     KWL      MM
REGION STATE
GT-1   CHANDIGARH          317.0    63.0    NaN   183.0     NaN   197.0
       HARYANA            2633.0   968.0    NaN  1374.0    70.0  3022.0
       HIMACHAL PRADESH   1083.0   223.0    NaN   546.0    56.0   635.0
       JAMMU & KASHMIR    1167.0   261.0    NaN   330.0    60.0   379.0
       PUNJAB             2589.0  1010.0    NaN  2123.0   416.0  2481.0
GT-2   BIHAR              4708.0   682.0    NaN  1846.0   696.0  4039.0
       DELHI              2453.0  1085.0    NaN  2194.0   363.0  5794.0
       JHARKHAND          2353.0  1123.0    NaN  1218.0   417.0  4849.0
       RAJASTHAN-1        1906.0   655.0    NaN   562.0   438.0  2219.0
       RAJASTHAN-2         616.0   146.0    NaN    86.0   183.0   831.0
GT-3   CENTRAL -UP-1      3139.0   331.0    NaN   928.0  1619.0  2520.0
       CENTRAL -UP-2      1961.0   462.0    NaN   602.0   810.0  1090.0
       EASTERN UP         5487.0   730.0    2.0  1729.0   774.0  4519.0
       UTTRAKHAND         3831.0  1226.0    NaN  1570.0   100.0  3753.0
       WEST-UP-1          4459.0   970.0   15.0  2605.0   352.0  6471.0
       WEST-UP-2          2362.0   267.0    NaN  1121.0   372.0  1987.0
       WEST-UP-3          1619.0   322.0    NaN   819.0   656.0  1860.0
GT-4   NER                3216.0   662.0    NaN   826.0   176.0  3437.0
       ORISSA              729.0   298.0   11.0   211.0   334.0  1189.0
       WEST BENGAL        1465.0  1889.0    NaN   747.0  1777.0  5012.0
GT-5   CHHATTISGARH        158.0    53.0    NaN    41.0    38.0   256.0
       MADHYA PRADESH-1   1495.0   511.0    NaN   381.0   485.0  1559.0
       MADHYA PRADESH-2    583.0    40.0    NaN   207.0   112.0   291.0
GT-6   GOA                  99.0   113.0   57.0   138.0   182.0   237.0
       GUJARAT             391.0   430.0  151.0   116.0   421.0   637.0
       MUMBAI               33.0   175.0  182.0    15.0   103.0   425.0
       ROM                  96.0    80.0   74.0    31.0    50.0   308.0
GT-7   ANDHRA PRADESH      120.0     7.0    2.0    12.0    45.0    67.0
       KARNATAKA           104.0    65.0   24.0    54.0   116.0    77.0
       KERALA               26.0     4.0    NaN     NaN     1.0    22.0
       TAMILNADU           167.0   114.0   18.0    60.0    61.0   203.0

                                                     ... Apr_2022          \
PRODUCT NEW                 NJN PRS      SP      ST  ...       GR    Hing
REGION STATE                                         ...
GT-1   CHANDIGARH          30.0 NaN   200.0   388.0  ...     10.0   240.0
       HARYANA             76.0 NaN  1580.0  1638.0  ...     30.0  1751.0
       HIMACHAL PRADESH     NaN NaN   898.0   982.0  ...      NaN   648.0
       JAMMU & KASHMIR      NaN NaN   227.0  1180.0  ...      NaN   222.0
       PUNJAB             374.0 NaN  1236.0  2525.0  ...     50.0  1932.0
GT-2   BIHAR                NaN NaN  2410.0  3678.0  ...     18.0  2296.0
       DELHI              865.0 NaN  2706.0  2300.0  ...     42.0  2338.0
       JHARKHAND            NaN NaN   787.0  1318.0  ...     51.0  1153.0
       RAJASTHAN-1          NaN NaN   458.0   421.0  ...      NaN  1082.0
       RAJASTHAN-2          NaN NaN   243.0    81.0  ...      NaN    68.0
GT-3   CENTRAL -UP-1      247.0 NaN  1086.0  1159.0  ...      NaN   456.0
       CENTRAL -UP-2      208.0 NaN   645.0  1130.0  ...      NaN   460.0
       EASTERN UP          68.0 NaN  1747.0  3425.0  ...      1.0  2220.0
       UTTRAKHAND         257.0 NaN   972.0  3045.0  ...     21.0  1104.0
       WEST-UP-1          381.0 NaN  1198.0  2815.0  ...     13.0  1600.0
       WEST-UP-2            NaN NaN   433.0   938.0  ...      NaN   865.0
       WEST-UP-3            NaN NaN   484.0   488.0  ...      1.0   696.0
GT-4   NER                324.0 NaN  3740.0  3311.0  ...      NaN   682.0
       ORISSA               NaN NaN   432.0   552.0  ...      4.0   204.0
       WEST BENGAL       1301.0 NaN  2184.0  1005.0  ...     40.0  1139.0
GT-5   CHHATTISGARH         NaN NaN   230.0   100.0  ...      NaN    59.0
       MADHYA PRADESH-1     NaN NaN   663.0   432.0  ...     11.0   673.0
       MADHYA PRADESH-2     NaN NaN   144.0   185.0  ...      NaN   216.0
GT-6   GOA                  NaN NaN   368.0   425.0  ...     80.0   198.0
       GUJARAT             54.0 NaN  1177.0    40.0  ...    113.0   142.0
       MUMBAI             129.0 NaN  1561.0    45.0  ...    254.0    23.0
       ROM                  NaN NaN   706.0    68.0  ...    168.0    36.0
GT-7   ANDHRA PRADESH       NaN NaN   198.0    59.0  ...      2.0     NaN
       KARNATAKA            NaN NaN   395.0    36.0  ...     11.0    44.0
       KERALA               NaN NaN     NaN     NaN  ...      NaN     NaN
       TAMILNADU            NaN NaN   332.0    18.0  ...      6.0    16.0

                                                                        \
PRODUCT NEW                 KWL      MM     NJN    PRS      SP      ST
REGION STATE
GT-1   CHANDIGARH          11.0   243.0    43.0   49.0   249.0   364.0
       HARYANA            225.0  3898.0  1303.0  240.0  2993.0  1731.0
       HIMACHAL PRADESH    86.0  1347.0   483.0  133.0  1090.0  1021.0
       JAMMU & KASHMIR    104.0   415.0   465.0  166.0   820.0  1264.0
       PUNJAB             593.0  3636.0  1025.0  374.0  2415.0  2620.0
GT-2   BIHAR              871.0  5451.0  1521.0  134.0  2846.0  3902.0
       DELHI              498.0  6458.0  2379.0   84.0  3359.0  2068.0
       JHARKHAND          672.0  4766.0  1386.0  125.0  1023.0  1381.0
       RAJASTHAN-1        577.0  3571.0  1512.0   24.0   900.0   437.0
       RAJASTHAN-2        156.0   517.0   142.0   12.0   266.0    47.0
GT-3   CENTRAL -UP-1     1801.0  2896.0   268.0   54.0  1456.0   847.0
       CENTRAL -UP-2     1330.0  1477.0   228.0   91.0   843.0   872.0
       EASTERN UP        2030.0  5023.0   442.0  152.0  2766.0  4362.0
       UTTRAKHAND         184.0  4426.0   239.0   81.0   892.0  3011.0
       WEST-UP-1          379.0  6287.0   746.0  161.0  1722.0  2160.0
       WEST-UP-2          668.0  2091.0    76.0   10.0   498.0   763.0
       WEST-UP-3          608.0  1963.0   355.0   16.0   525.0   445.0
GT-4   NER               1061.0  5002.0   505.0  280.0  4195.0  3225.0
       ORISSA             442.0  1070.0   297.0   52.0   333.0   404.0
       WEST BENGAL       2136.0  5694.0   765.0  219.0  3013.0   871.0
GT-5   CHHATTISGARH        97.0   558.0   114.0    NaN   306.0   112.0
       MADHYA PRADESH-1   998.0  2588.0   999.0    5.0   633.0   332.0
       MADHYA PRADESH-2   255.0   577.0   372.0    9.0   513.0   329.0
GT-6   GOA                116.0   485.0   119.0   35.0   369.0   393.0
       GUJARAT            834.0   651.0   175.0   66.0  1485.0    37.0
       MUMBAI             203.0   668.0   121.0  136.0  2081.0    43.0
       ROM                 47.0   242.0   123.0   41.0  1125.0    47.0
GT-7   ANDHRA PRADESH       8.0    77.0     NaN    NaN   111.0    20.0
       KARNATAKA            3.0     3.0     1.0    2.0   227.0     4.0
       KERALA               NaN    14.0     NaN    NaN     NaN     NaN
       TAMILNADU           80.0   113.0   104.0    4.0   330.0    68.0


PRODUCT NEW                 STP       W
REGION STATE
GT-1   CHANDIGARH         280.0    58.0
       HARYANA           2062.0   529.0
       HIMACHAL PRADESH  1134.0   781.0
       JAMMU & KASHMIR   1132.0   634.0
       PUNJAB            2282.0   304.0
GT-2   BIHAR             4435.0   266.0
       DELHI             1618.0   482.0
       JHARKHAND         2353.0   290.0
       RAJASTHAN-1       1296.0   113.0
       RAJASTHAN-2        138.0     NaN
GT-3   CENTRAL -UP-1      951.0   447.0
       CENTRAL -UP-2     1175.0   207.0
       EASTERN UP        4961.0  1445.0
       UTTRAKHAND        2644.0   767.0
       WEST-UP-1         3312.0   570.0
       WEST-UP-2         1263.0   178.0
       WEST-UP-3          515.0   158.0
GT-4   NER               3007.0   210.0
       ORISSA             544.0   129.0
       WEST BENGAL       2914.0   213.0
GT-5   CHHATTISGARH       168.0    23.0
       MADHYA PRADESH-1   985.0    18.0
       MADHYA PRADESH-2   446.0   102.0
GT-6   GOA                 62.0   185.0
       GUJARAT            160.0     5.0
       MUMBAI              69.0     1.0
       ROM                 91.0   109.0
GT-7   ANDHRA PRADESH     100.0     2.0
       KARNATAKA            4.0     1.0
       KERALA              12.0     NaN
       TAMILNADU          178.0    19.0

[31 rows x 72 columns]

In [103]:
df_1.to_csv('6_Months_Categories_wise_unique_Outlet1.csv')

# State_Wise_Multiple_Months Unique_Outlet

# Two_Months

In [179]:
# All Code

data_0=pd.concat([Jan_2022,Feb_2022])
Jan_Feb_2022=data_0.drop_duplicates(['OUTLET ID'])
Jan_Feb_2022_Unique_Outlet=Jan_Feb_2022.groupby(['REGION','STATE'])['OUTLET ID'].nunique()
Jan_Feb_2022_Unique_Outlet.to_csv('Jan_Feb_2022_total_Unique_Outlet_count.csv')

In [178]:
Jan_Feb_2022_Unique_Outlet

REGION  STATE
GT-1    CHANDIGARH            567
        HARYANA              8532
        HIMACHAL PRADESH     2939
        JAMMU & KASHMIR      2722
        PUNJAB               9779
GT-2    BIHAR               11956
        DELHI               14179
        JHARKHAND            8113
        RAJASTHAN-1          6615
        RAJASTHAN-2          2776
GT-3    CENTRAL -UP-1        8906
        CENTRAL -UP-2        5262
        EASTERN UP          13512
        UTTRAKHAND           8342
        WEST-UP-1           11853
        WEST-UP-2            6205
        WEST-UP-3            4952
GT-4    NER                  8172
        ORISSA               2769
        WEST BENGAL         13025
GT-5    CHHATTISGARH         1633
        MADHYA PRADESH-1     5688
        MADHYA PRADESH-2     2354
GT-6    GOA                  1650
        GUJARAT              3154
        MUMBAI               3443
        ROM                  2672
GT-7    ANDHRA PRADESH        573
        KARNATAKA            1175
        KERALA                 32
        TAMILNADU             868
Name: OUTLET ID, dtype: int64

# 6_months

In [ ]:
# All Code

data_1=pd.concat([Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022])
All_Months_Unique_Outlet=data_1.drop_duplicates(['OUTLET ID'])
All_Months_Unique_Outlet1=All_Months_Unique_Outlet.groupby(['REGION','STATE'])['OUTLET ID'].nunique()
All_Months_Unique_Outlet1.to_csv('Testing_All_Months_Unique_Outlet_Count.csv')

In [196]:
data_1=pd.concat([Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022])

In [209]:
data_1.shape

(5131312, 68)

In [210]:
All_Months_Unique_Outlet=data_1.drop_duplicates(['OUTLET ID'])

In [211]:
All_Months_Unique_Outlet

,REGION,STATE,OUTLET ID,OUTLET NAME,DATE,Invoice_ID,Bill_No,SKU CODE,SKU CODE.1,OUTLET CLASSIFICATION,...,Discount,Scheme_Discount,MRP,Unitprice,Amount,Order_State,Sale_Type,VAL IN LACS,VAL IN QNTL,Net Value
0,GT-2,RAJASTHAN-2,376118,Malik Store,44501,1.293520e+24,1029,110,FGFFS1427016G-011,GENERAL STORE,...,0,0.4800,10,7.5200,75.20,Secondary Sale,Secondary Sale,NaN,NaN,NaN
3,GT-2,RAJASTHAN-2,638329,ramdev kirana,44501,1.617330e+24,MF00024212200550,756,FGFFS1413100G-009,GENERAL STORE,...,0,1.6728,68,54.0872,594.96,Secondary Sale,Secondary Sale,NaN,NaN,NaN
7,GT-3,CENTRAL -UP-2,638138,Apna E-bazar,44501,2.479360e+24,N400157212203134,76,FGFFS159N010G-009,GENERAL STORE,...,0,0.0000,22,16.5000,16.50,Secondary Sale,Secondary Sale,NaN,NaN,NaN
8,GT-3,EASTERN UP,623372,Sarvesh kir. store,44501,3.782530e+24,43,54,FGFFS1435050G-011,GENERAL STORE,...,0,1.0500,35,25.2000,1512.00,Secondary Sale,Secondary Sale,NaN,NaN,NaN
12,GT-6,GUJARAT,502645,sai provision,44501,8.717350e+24,IZ00046212201829,12136,FS1AE1025G,GENERAL STORE,...,0,0.0000,5,3.3750,202.50,Secondary Sale,Secondary Sale,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830427,GT-4,WEST BENGAL,481276,LAHA VARITIES,30-Apr-22,4.509330e+24,MM00010222300255,3395,FGFFS03211050G-002,CONFECTIONARY,...,0,0.0000,17,11.3900,56.95,Secondary Sale,Secondary Sale,0.0,0.0,0.0
830460,GT-4,WEST BENGAL,478168,KOUSHIK ROY,30-Apr-22,5.926330e+24,MM00010222300256,3395,FGFFS03211050G-002,GENERAL STORE,...,0,0.0000,17,11.3900,56.95,Secondary Sale,Secondary Sale,0.0,0.0,0.0
830466,GT-4,WEST BENGAL,450939,RAJ VARIETIES,30-Apr-22,3.378330e+24,MM00010222300257,3395,FGFFS03211050G-002,GENERAL STORE,...,0,0.0000,17,11.3900,56.95,Secondary Sale,Secondary Sale,0.0,0.0,0.0
830486,GT-4,WEST BENGAL,379193,MA SHYAMA BHANDER,30-Apr-22,6.479330e+24,MM00010222300259,3395,FGFFS03211050G-002,GENERAL STORE,...,0,0.0000,17,11.3900,56.95,Secondary Sale,Secondary Sale,0.0,0.0,0.0
830487,GT-3,WEST-UP-2,412750,abdul kalam,30-Apr-22,1.594890e+16,CC00002222300380,3416,FGFFS1267100G-004,GENERAL STORE,...,0,0.0000,90,70.2000,280.80,Secondary Sale,Secondary Sale,0.0,0.0,0.0

In [212]:
All_Months_Unique_Outlet1=All_Months_Unique_Outlet.groupby(['REGION','STATE'])['OUTLET ID'].nunique()

In [213]:
All_Months_Unique_Outlet1

REGION  STATE
GT-1    CHANDIGARH            611
        HARYANA              9924
        HIMACHAL PRADESH     3411
        JAMMU & KASHMIR      3092
        PUNJAB              11860
GT-2    BIHAR               13970
        DELHI               16050
        JHARKHAND            9002
        RAJASTHAN-1          7710
        RAJASTHAN-2          3567
GT-3    CENTRAL -UP-1       10545
        CENTRAL -UP-2        6337
        EASTERN UP          15571
        UTTRAKHAND           9304
        WEST-UP-1           13315
        WEST-UP-2            6761
        WEST-UP-3            7163
GT-4    NER                  9288
        ORISSA               3678
        WEST BENGAL         17394
GT-5    CHHATTISGARH         2205
        MADHYA PRADESH-1     8339
        MADHYA PRADESH-2     2987
GT-6    GOA                  2209
        GUJARAT              4987
        MUMBAI               4832
        ROM                  4037
GT-7    ANDHRA PRADESH        646
        KARNATAKA            1555
        KERALA                 33
        TAMILNADU            1041
Name: OUTLET ID, dtype: int64

In [215]:
All_Months_Unique_Outlet1.to_csv('Testing_All_Months_Unique_Outlet_Count.csv')

# Categories_Wise_Multiple_Months Unique_Outlet

# Two_Months

In [171]:
# All_Codes

dt=pd.concat([Jan_2022,Feb_2022])
dd=dt.groupby(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].nunique()
dd.to_csv('Jan_feb_2022_Catogories_wise_total_unique_outlet.csv')
dk=pd.read_csv('Jan_feb_2022_Catogories_wise_total_unique_outlet.csv')
df_2=dk.set_index(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].unstack()
df_2=dk.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values='OUTLET ID')

In [172]:
df_2

PRODUCT NEW                  BL     GGP     GR    Hing     KWL      MM  \
REGION STATE
GT-1   CHANDIGARH         412.0   101.0   30.0   348.0     7.0   312.0
       HARYANA           4554.0  1429.0   23.0  2903.0   273.0  5017.0
       HIMACHAL PRADESH  1980.0   434.0    NaN  1129.0   140.0  1080.0
       JAMMU & KASHMIR   1690.0   383.0    NaN   502.0   174.0   655.0
       PUNJAB            4951.0  2085.0    NaN  3391.0   873.0  4932.0
GT-2   BIHAR             7441.0  1479.0    NaN  3870.0  1059.0  7523.0
       DELHI             4214.0  2039.0    7.0  4337.0   760.0  9195.0
       JHARKHAND         4775.0  2378.0    NaN  2176.0  1094.0  6888.0
       RAJASTHAN-1       3723.0  1179.0    NaN  1901.0   854.0  4274.0
       RAJASTHAN-2       1301.0   260.0    NaN   360.0   344.0  1443.0
GT-3   CENTRAL -UP-1     4343.0   622.0    NaN  1326.0  3532.0  4120.0
       CENTRAL -UP-2     3052.0   499.0    NaN  1529.0  2502.0  2292.0
       EASTERN UP        9517.0  1832.0    2.0  4434.0  1695.0  6528.0
       UTTRAKHAND        5775.0  2475.0   18.0  2694.0   237.0  5992.0
       WEST-UP-1         6886.0  1587.0   28.0  5171.0   344.0  8533.0
       WEST-UP-2         3942.0   789.0    NaN  1806.0   976.0  3663.0
       WEST-UP-3         2405.0   384.0    NaN  1315.0   928.0  2705.0
GT-4   NER               4609.0  1298.0    NaN  1236.0   398.0  5667.0
       ORISSA            1153.0   465.0   62.0   341.0   564.0  1655.0
       WEST BENGAL       3490.0  2969.0    NaN  2034.0  2569.0  8897.0
GT-5   CHHATTISGARH       460.0   405.0    NaN   230.0    96.0   755.0
       MADHYA PRADESH-1  2904.0   778.0    NaN  1018.0  1042.0  2773.0
       MADHYA PRADESH-2  1427.0   384.0    NaN   567.0   503.0   933.0
GT-6   GOA                306.0   258.0  132.0   322.0   320.0   731.0
       GUJARAT            556.0   644.0  220.0   190.0   845.0  1115.0
       MUMBAI              82.0   662.0  272.0    94.0   129.0   721.0
       ROM                220.0   513.0  138.0   123.0   179.0   750.0
GT-7   ANDHRA PRADESH     300.0    25.0    5.0     6.0    44.0   133.0
       KARNATAKA          119.0    53.0   10.0    77.0   368.0   185.0
       KERALA              31.0     3.0    NaN     NaN     1.0    32.0
       TAMILNADU          282.0   274.0   27.0    25.0    33.0   377.0

PRODUCT NEW                 NJN    PRS      SP      ST     STP       W
REGION STATE
GT-1   CHANDIGARH          51.0   51.0   290.0   454.0   332.0    72.0
       HARYANA            855.0   95.0  3313.0  3023.0  2802.0   597.0
       HIMACHAL PRADESH   399.0   73.0  1561.0  1718.0  1225.0   669.0
       JAMMU & KASHMIR    471.0   96.0   475.0  1865.0  1166.0   488.0
       PUNJAB             895.0  311.0  2484.0  4595.0  3678.0   732.0
GT-2   BIHAR              993.0  313.0  3760.0  6211.0  5310.0   383.0
       DELHI             2726.0  249.0  4766.0  3602.0  3428.0   870.0
       JHARKHAND          747.0  296.0  1303.0  3261.0  3478.0   510.0
       RAJASTHAN-1        520.0   76.0   937.0   837.0  1703.0   354.0
       RAJASTHAN-2        433.0   29.0   556.0   227.0   539.0   127.0
GT-3   CENTRAL -UP-1     2528.0  171.0  1705.0  1817.0  1675.0   670.0
       CENTRAL -UP-2     1510.0  239.0  1187.0  1896.0  1785.0   272.0
       EASTERN UP         921.0  650.0  3365.0  5547.0  5479.0  1232.0
       UTTRAKHAND        1216.0  627.0  1490.0  4538.0  3808.0  1184.0
       WEST-UP-1          712.0  608.0  2149.0  3813.0  4480.0   728.0
       WEST-UP-2            NaN  204.0   836.0  1510.0  1993.0   395.0
       WEST-UP-3           80.0   73.0   694.0   659.0   812.0   232.0
GT-4   NER                585.0  240.0  5563.0  5127.0  3573.0   334.0
       ORISSA             521.0   62.0   511.0  1057.0   929.0   514.0
       WEST BENGAL       2347.0  730.0  5022.0  1618.0  4784.0   501.0
GT-5   CHHATTISGARH       208.0    NaN   461.0   234.0   298.0    52.0
       MADHYA PRADESH-1  1173.0   30.0  1058.0   752.0  1617.0    37.0
       MADHYA PRADESH-2     1.0  105.0   504.0   579.0   753.0    97.0
GT-6   GOA                251.0    1.0   701.0   676.0   109.0   349.0
       GUJARAT            375.0   79.0  1758.0   108.0   253.0     NaN
       MUMBAI             267.0  105.0  2799.0    92.0   178.0    19.0
       ROM                224.0   32.0  1612.0   138.0   158.0   172.0
GT-7   ANDHRA PRADESH      24.0    3.0   326.0    74.0   292.0    13.0
       KARNATAKA            NaN   33.0   703.0    21.0    28.0    25.0
       KERALA               NaN    NaN     NaN     NaN    29.0     NaN
       TAMILNADU           14.0    5.0   571.0    49.0   391.0     2.0

In [149]:
dt=pd.concat([Jan_2022,Feb_2022])

In [155]:
dd=dt.groupby(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].nunique()

In [164]:
dd.to_csv('test-1.csv')

In [165]:
dk=pd.read_csv('test-1.csv')

In [166]:
df_2=dk.set_index(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].unstack()
df_2=dk.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values='OUTLET ID')

In [167]:
df_2

PRODUCT NEW                  BL     GGP     GR    Hing     KWL      MM  \
REGION STATE
GT-1   CHANDIGARH         412.0   101.0   30.0   348.0     7.0   312.0
       HARYANA           4554.0  1429.0   23.0  2903.0   273.0  5017.0
       HIMACHAL PRADESH  1980.0   434.0    NaN  1129.0   140.0  1080.0
       JAMMU & KASHMIR   1690.0   383.0    NaN   502.0   174.0   655.0
       PUNJAB            4951.0  2085.0    NaN  3391.0   873.0  4932.0
GT-2   BIHAR             7441.0  1479.0    NaN  3870.0  1059.0  7523.0
       DELHI             4214.0  2039.0    7.0  4337.0   760.0  9195.0
       JHARKHAND         4775.0  2378.0    NaN  2176.0  1094.0  6888.0
       RAJASTHAN-1       3723.0  1179.0    NaN  1901.0   854.0  4274.0
       RAJASTHAN-2       1301.0   260.0    NaN   360.0   344.0  1443.0
GT-3   CENTRAL -UP-1     4343.0   622.0    NaN  1326.0  3532.0  4120.0
       CENTRAL -UP-2     3052.0   499.0    NaN  1529.0  2502.0  2292.0
       EASTERN UP        9517.0  1832.0    2.0  4434.0  1695.0  6528.0
       UTTRAKHAND        5775.0  2475.0   18.0  2694.0   237.0  5992.0
       WEST-UP-1         6886.0  1587.0   28.0  5171.0   344.0  8533.0
       WEST-UP-2         3942.0   789.0    NaN  1806.0   976.0  3663.0
       WEST-UP-3         2405.0   384.0    NaN  1315.0   928.0  2705.0
GT-4   NER               4609.0  1298.0    NaN  1236.0   398.0  5667.0
       ORISSA            1153.0   465.0   62.0   341.0   564.0  1655.0
       WEST BENGAL       3490.0  2969.0    NaN  2034.0  2569.0  8897.0
GT-5   CHHATTISGARH       460.0   405.0    NaN   230.0    96.0   755.0
       MADHYA PRADESH-1  2904.0   778.0    NaN  1018.0  1042.0  2773.0
       MADHYA PRADESH-2  1427.0   384.0    NaN   567.0   503.0   933.0
GT-6   GOA                306.0   258.0  132.0   322.0   320.0   731.0
       GUJARAT            556.0   644.0  220.0   190.0   845.0  1115.0
       MUMBAI              82.0   662.0  272.0    94.0   129.0   721.0
       ROM                220.0   513.0  138.0   123.0   179.0   750.0
GT-7   ANDHRA PRADESH     300.0    25.0    5.0     6.0    44.0   133.0
       KARNATAKA          119.0    53.0   10.0    77.0   368.0   185.0
       KERALA              31.0     3.0    NaN     NaN     1.0    32.0
       TAMILNADU          282.0   274.0   27.0    25.0    33.0   377.0

PRODUCT NEW                 NJN    PRS      SP      ST     STP       W
REGION STATE
GT-1   CHANDIGARH          51.0   51.0   290.0   454.0   332.0    72.0
       HARYANA            855.0   95.0  3313.0  3023.0  2802.0   597.0
       HIMACHAL PRADESH   399.0   73.0  1561.0  1718.0  1225.0   669.0
       JAMMU & KASHMIR    471.0   96.0   475.0  1865.0  1166.0   488.0
       PUNJAB             895.0  311.0  2484.0  4595.0  3678.0   732.0
GT-2   BIHAR              993.0  313.0  3760.0  6211.0  5310.0   383.0
       DELHI             2726.0  249.0  4766.0  3602.0  3428.0   870.0
       JHARKHAND          747.0  296.0  1303.0  3261.0  3478.0   510.0
       RAJASTHAN-1        520.0   76.0   937.0   837.0  1703.0   354.0
       RAJASTHAN-2        433.0   29.0   556.0   227.0   539.0   127.0
GT-3   CENTRAL -UP-1     2528.0  171.0  1705.0  1817.0  1675.0   670.0
       CENTRAL -UP-2     1510.0  239.0  1187.0  1896.0  1785.0   272.0
       EASTERN UP         921.0  650.0  3365.0  5547.0  5479.0  1232.0
       UTTRAKHAND        1216.0  627.0  1490.0  4538.0  3808.0  1184.0
       WEST-UP-1          712.0  608.0  2149.0  3813.0  4480.0   728.0
       WEST-UP-2            NaN  204.0   836.0  1510.0  1993.0   395.0
       WEST-UP-3           80.0   73.0   694.0   659.0   812.0   232.0
GT-4   NER                585.0  240.0  5563.0  5127.0  3573.0   334.0
       ORISSA             521.0   62.0   511.0  1057.0   929.0   514.0
       WEST BENGAL       2347.0  730.0  5022.0  1618.0  4784.0   501.0
GT-5   CHHATTISGARH       208.0    NaN   461.0   234.0   298.0    52.0
       MADHYA PRADESH-1  1173.0   30.0  1058.0   752.0  1617.0    37.0
       MADHYA PRADESH-2     1.0  105.0   504.0   579.0   753.0    97.0
GT-6   GOA                251.0    1.0   701.0   676.0   109.0   349.0
       GUJARAT            375.0   79.0  1758.0   108.0   253.0     NaN
       MUMBAI             267.0  105.0  2799.0    92.0   178.0    19.0
       ROM                224.0   32.0  1612.0   138.0   158.0   172.0
GT-7   ANDHRA PRADESH      24.0    3.0   326.0    74.0   292.0    13.0
       KARNATAKA            NaN   33.0   703.0    21.0    28.0    25.0
       KERALA               NaN    NaN     NaN     NaN    29.0     NaN
       TAMILNADU           14.0    5.0   571.0    49.0   391.0     2.0

In [168]:
df_2.to_csv('test-2.csv')

# 6_Months

In [173]:
# All Codes

six_months=pd.concat([Nov_2021,Dec_2021,Jan_2022,Feb_2022,March_2022,Apr_2022])
Unique_Outlet=six_months.groupby(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].nunique()
Unique_Outlet.to_csv('six_months_Catogories_wise_total_unique_outlet.csv')
data_6month=pd.read_csv('six_months_Catogories_wise_total_unique_outlet.csv')
df_6=data_6month.set_index(['REGION','STATE','PRODUCT NEW'])['OUTLET ID'].unstack()
df_6=data_6month.pivot(index=['REGION','STATE'], columns='PRODUCT NEW', values='OUTLET ID')

In [176]:
df_6

PRODUCT NEW                   BL     GGP     GR    Hing     KWL       MM  \
REGION STATE
GT-1   CHANDIGARH          532.0   310.0   40.0   466.0    18.0    417.0
       HARYANA            7400.0  4152.0   78.0  5322.0   682.0   7562.0
       HIMACHAL PRADESH   2946.0  1379.0    NaN  2068.0   336.0   2344.0
       JAMMU & KASHMIR    2614.0  1344.0    NaN  1042.0   335.0   1087.0
       PUNJAB             8108.0  4897.0   60.0  6835.0  1940.0   8482.0
GT-2   BIHAR             10992.0  3787.0   20.0  6902.0  2650.0  10603.0
       DELHI              7235.0  5151.0   63.0  7937.0  1743.0  11901.0
       JHARKHAND          6847.0  4985.0   58.0  4379.0  2181.0   8362.0
       RAJASTHAN-1        5700.0  3328.0    NaN  3623.0  1751.0   6464.0
       RAJASTHAN-2        2145.0   803.0    NaN   678.0   835.0   2449.0
GT-3   CENTRAL -UP-1      7094.0  1807.0    NaN  2877.0  5572.0   6941.0
       CENTRAL -UP-2      4880.0  1469.0    NaN  2921.0  3825.0   4077.0
       EASTERN UP        13134.0  5256.0    7.0  7411.0  4460.0  11453.0
       UTTRAKHAND         7675.0  4769.0   48.0  4695.0   519.0   8212.0
       WEST-UP-1          9656.0  4625.0   78.0  7996.0  1285.0  11094.0
       WEST-UP-2          5512.0  1586.0    NaN  3362.0  1864.0   5157.0
       WEST-UP-3          4678.0  1417.0    1.0  2875.0  2267.0   5324.0
GT-4   NER                7354.0  4243.0    NaN  2932.0  1733.0   7889.0
       ORISSA             2342.0  1159.0   79.0   929.0  1450.0   2842.0
       WEST BENGAL        6312.0  7376.0   41.0  5074.0  6321.0  14130.0
GT-5   CHHATTISGARH        801.0   638.0    NaN   356.0   251.0   1412.0
       MADHYA PRADESH-1   5204.0  2256.0   11.0  2505.0  2740.0   5854.0
       MADHYA PRADESH-2   2273.0   749.0    NaN   966.0   909.0   1726.0
GT-6   GOA                 633.0   676.0  343.0   807.0   719.0   1430.0
       GUJARAT            1436.0  1544.0  635.0   616.0  2147.0   2368.0
       MUMBAI              299.0  1235.0  961.0   203.0   502.0   1629.0
       ROM                 554.0   882.0  473.0   254.0   350.0   1453.0
GT-7   ANDHRA PRADESH      429.0    50.0   13.0    23.0   112.0    204.0
       KARNATAKA           301.0   152.0   64.0   293.0   484.0    340.0
       KERALA               33.0     7.0    NaN     NaN     1.0     33.0
       TAMILNADU           513.0   548.0   53.0   124.0   181.0    506.0

PRODUCT NEW                 NJN     PRS      SP      ST      STP       W
REGION STATE
GT-1   CHANDIGARH         118.0   126.0   399.0   545.0    446.0   115.0
       HARYANA           2714.0   473.0  6191.0  5098.0   5475.0  1516.0
       HIMACHAL PRADESH   936.0   296.0  2777.0  2661.0   2324.0  1696.0
       JAMMU & KASHMIR   1090.0   427.0  1418.0  2652.0   2298.0  1315.0
       PUNJAB            2781.0  1004.0  5702.0  7457.0   6577.0  1509.0
GT-2   BIHAR             3149.0   635.0  7660.0  9394.0   9162.0   844.0
       DELHI             7538.0   835.0  7698.0  5935.0   5587.0  1702.0
       JHARKHAND         2511.0   533.0  2992.0  4658.0   5894.0  1162.0
       RAJASTHAN-1       3080.0   136.0  2316.0  1731.0   3557.0   693.0
       RAJASTHAN-2        949.0    47.0  1032.0   396.0   1020.0   166.0
GT-3   CENTRAL -UP-1     3369.0   272.0  3723.0  3547.0   3569.0  1483.0
       CENTRAL -UP-2     2051.0   392.0  2548.0  3434.0   3530.0   714.0
       EASTERN UP        2067.0  1138.0  6943.0  9576.0  10356.0  3154.0
       UTTRAKHAND        2360.0   797.0  3213.0  6528.0   6123.0  2380.0
       WEST-UP-1         2683.0   985.0  4828.0  6334.0   7827.0  1912.0
       WEST-UP-2           76.0   216.0  1650.0  2451.0   3392.0   717.0
       WEST-UP-3          987.0   132.0  1816.0  1551.0   2005.0   600.0
GT-4   NER               1736.0   775.0  8071.0  7386.0   6331.0   897.0
       ORISSA             847.0   136.0  1537.0  1845.0   1907.0  1022.0
       WEST BENGAL       5124.0  1093.0  9794.0  3680.0   9479.0  1340.0
GT-5   CHHATTISGARH       416.0     NaN   945.0   435.0    583.0   104.0
       MADHYA PRADESH-1  2581.0    57.0  2721.0  1821.0   3557.0   160.0
       MADHYA PRADESH-2   647.0   112.0  1104.0  1002.0   1466.0   239.0
GT-6   GOA                504.0    46.0  1330.0  1321.0    294.0   861.0
       GUJARAT            792.0   152.0  3492.0   275.0    646.0     9.0
       MUMBAI             675.0   273.0  4247.0   330.0    461.0    82.0
       ROM                429.0    81.0  3000.0   297.0    410.0   417.0
GT-7   ANDHRA PRADESH      24.0     3.0   464.0   144.0    430.0    21.0
       KARNATAKA            2.0    56.0  1042.0    98.0     79.0    38.0
       KERALA               NaN     NaN     NaN     NaN     33.0     NaN
       TAMILNADU          240.0    12.0   816.0   155.0    610.0    28.0

In [175]:
df_6.to_csv('six_months_Catogories_wise_total_unique_outlet_count.csv')